body{
  background-color: #A1B3A5;
}

.msg {
  background-color: #7fb241;
  color: #23861a;
  border: #7fb241;
  width: 10%;
  margin-bottom: 0;
  text-align: center;
}

h1{
   color: rgb(34, 194, 34);
   font-family: 'Bebas Neue', cursive;
}

.titCenter{
  text-align: center;
  padding-top: 5%;
}

.titLado{
  text-align: right;
  padding-top: 5%;
}

.row h1, p{
  text-align: center;
}

.row img{
  width: 200px;
  padding-bottom: 5%;
}

.parCenter{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}

.container{
  padding-top: 2.5%;
}

.navbar img{
    width: 28px;
}

a:link {
    color:#7fb241;
    text-decoration:none;
  }
  a:visited {
    color:#7fb241;
    text-decoration:none;
  }
  a:hover {
    color:#23861a;
    text-decoration:none;
  }
  a:active {
    color:#23861a;
    text-decoration:none;
  }

/* pagina de controle */
#product-create-container{
  padding: 30px;
}

#product-create-container label{
  font-weight: bold;
}

#product-create-container input,
#product-create-container select,
#product-create-container textarea{
  font-size: 12px;
}
